body{
    margin: 0;
    padding: 0;
    background-color: white;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    display:inline-block;
}

.split{
    display:flex;
}

.registration-background{
    margin-top: 25vh;
    flex: 1;
    width: 1033px;
    height: 712px;
}

.login-box{
    width: 360px;
    height: 480px;
    background: rgba(168, 168, 168, 0.3);
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-left: 50vh;
    margin-top: 5vh;
    border-radius: 30px;
    overflow: auto;
    flex:1;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login-box input[type="email"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid darkgrey;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;

}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"][disabled]
{
    background: lightblue;
}

.login-box input[type="submit"][disabled]:hover
{
    background: lightblue;
    color: #fff;
}

.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #39dc79;
}

