<html>

<head>
    <title> LTI Insurance </title>
</head>

<body>
    <div class="split">
        <img class="registration-background" src="../assets/image/forget-background.png" alt="">
        <div class="login-box">
            <h1>Reset Password </h1>
            <form (ngSubmit)="resetPassword()" #f="ngForm" novalidate>
                <p>New Password</p>
                <input class="form-control" #password="ngModel" type="password" id="newPassword" [(ngModel)]=newPassword
                    name="newPassword" placeholder="Enter password" required minlength="5" required>
                <div *ngIf="(f.submitted && password.invalid) || (password.dirty || password.touched)">
                    <div *ngIf="password.errors?.minlength" class="alert alert-danger">Minimum Length of Password
                        should
                        be 5</div>
                    <div *ngIf="password.errors?.required" class="alert alert-danger"> Password is required. </div>
                </div>
                <input class="form-control" #cpassword="ngModel" type="password" id="cpassword" name="cpassword"
                    placeholder="Confirm password" required minlength="5" [(ngModel)]="confirmPassword"
                    pattern="{{ password.value }}" required>
                <div *ngIf="(f.submitted && cpassword.invalid) || (cpassword.dirty || cpassword.touched)">
                    <div *ngif="cpassword.errors?.required" class="alert alert-danger">Confirm Password is required
                    </div>

                    <div *ngIf="cpassword.errors?.pattern" class="alert alert-danger">Confirm Password should match
                        Password</div>

                </div>

                <input type="submit" name="submit" value="Submit" [disabled]="!f.valid">
            </form>
        </div>
    </div>

</body>

</html>