<html>
  <head>
    <title>LTI Insurance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <br /><br />
    <br /><br />

    <section
      id="intro"
      style="background-image: url(../assets/image/background.jpg)"
      class="clearfix wow fadeInUp"
    >
      <div class="container">
        <h1>&nbsp;</h1>
        <div class="float-container1">
          <main>
            <p
              class="text-light"
              style="
                text-align: center;
                font-family: 'Courier New', Courier, monospac;
              "
            >
              WELL HELLO THERE
            </p>
            <h4 class="text-light" style="text-align: center">
              We are LTInsure<br />
              Providing you with the effortless Insurance
            </h4>

            <p class="text-light" style="font-size: 20px">
              At LTInsure, we want to solve the biggest problem in present
              insurance systems:<b> everyone is guessing.</b><br /><br />
              Yes, We all know and gone through it. Agents acting as a mediator
              between the insurance company and the customer, heavy brokerage
              and token money, long lasting document verifications! you know the
              rest.<br /><br />
              We at LTInsure cut short the route and provide you with fast,
              effortless, hasselfree insure for your vehicle.
            </p>

            <p class="text-right">
              <a
                [routerLink]="'/contact'"
                routerLinkActive="active"
                target="_blank"
                class="btn btn-primary py-3 px-4 mr-3"
                >Know More</a
              >
            </p>
          </main>
        </div>
      </div>
    </section>

    <header class="section-header">
      <br /><br /><br /><br /><br /><br />
      <h3>Services Offered</h3>
    </header>
    <div class="center">
      <!-- #intro -->
      <section class="comp">
        <span><h1>=</h1></span>
        <span><h4>=</h4></span>
        <div class="container1">
          <div class="product-card">
            <div class="product-img img-one"></div>
            <div class="product-text">
              <h3 id="heading">Buy Insurance</h3>
              <p id="para">
                Purchase the vehicle insurance as per your preferred plan.
              </p>
            </div>
          </div>
          <div class="product-card">
            <div class="product-img img-two"></div>
            <div class="product-text">
              <h4 id="heading">Renew Insurance</h4>
              <p id="para">
                Check and renew your vehicle insurance before it gets expired.
              </p>
            </div>
          </div>

          <div class="product-card" style="border-color: black">
            <div class="product-img img-three"></div>
            <div class="product-text">
              <h3 id="heading">Calculate Claim</h3>
              <p id="para">
                Determine the amount that you can claim for your vehicle
                insurance plan.
              </p>
            </div>
          </div>
          <div class="product-card">
            <div class="product-img img-four"></div>
            <div class="product-text">
              <h4 id="heading">Claim Insurance</h4>
              <p id="para">
                Claim the vehicle insurance that we have covered for you in your
                plan.
              </p>
            </div>
          </div>
        </div>
        <span><h1>=</h1></span>
        <span><h4>=</h4></span>
      </section>
    </div>
  </body>
</html>
