<!DOCTYPE html>
<html>
  <head>
    <title>LTI Insurance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <section class="team">
      <div class="container">
        <div style="text-align: center">
          <h2>Select Duration of the Plan</h2>
          <select
            name="duration"
            id="duration"
            [(ngModel)]="plan_dur"
            required
          >
            <option value="" selected='selected' selected disabled >Select Plan Duration</option>
            <option value="1">One Year</option>
            <option value="2">Two Years</option>
            <option value="3">Three Years</option>
          </select>
        </div>
        <br>
        <form>
          <div style="text-align: center">
            <div class="card" *ngFor="let p of plan">
              <div class="box" *ngIf="p">
                <img src="../../assets/image/plan_background .png" alt="team img" />
                <h4>Name: {{ p.name }}</h4>
                <h5>Type: {{ p.type }}</h5>
                <h5>Company: {{ p.companyName }}</h5>
                <h5>Amount: ₹{{ p.amount }}</h5>
                <h5>1 Year</h5>
                <br />
                <input
                  (click)="selectPlan(p.id, p.amount)"
                  type="submit"
                  name="submit"
                  class="btn"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
