
body{
    margin: 0;
    padding: 0;
    background-color: white;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    display:inline-block;
}
.payment{
 flex: 1;
    margin-top: 15vh;
    width: 800px;
    height: 600px;
    margin-left: 80px;
    }
.split{
    display:flex;
}
.payment{
    flex: 1;
    margin-top: 15vh;
    width: 800px;
    height: 600px;
    margin-left: 80px;

}
.login-box{
     width: 25vw;
    height: 86vh;
    background: rgba(168, 168, 168, 0.3);
    top: 35%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-left: 50vh;
    margin-top: 20vh;
    border-radius: 30px;
    flex: 1;
    overflow: auto;
}

h1{
    margin-top: 0px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 28px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin: auto;
    display: block;
    margin-bottom: 20px;
    border-style: 1px solid balck;
}
textarea{
    width: 80%;
    margin: auto;
    display: block;
}
.login-box input[type="submit"]{
    width: 50%;
    margin: auto;
    display: block;
    margin-bottom: 15px;
}
.login-box input[type="email"],  input[type="text"],input[type="tel"]
{
    border: none;
    border-bottom: 1px solid darkgrey;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    color: #000;
}
.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #39dc79;
}

.my-mat-hint {
    line-height: 1.2em;
    transform: translateY(10px);
    font-size: 90%;
    top:0;
}

select
{
    width: 100%;
    height: 33px;
}
::placeholder {
    color:grey;
    font-size: 16px;
}
select option{
    color: grey;
}