<html>

<head>
    <title> LTI Insurance </title>
</head>

<body>
    <div class="split">
        <img class="registration-background" src="../assets/image/forget-background.png" alt="">
        <div class="login-box">
            <h1>Forgot Password </h1>
            <form (ngSubmit)="goToOtp()" #f="ngForm" novalidate>
                <p>Email</p>
                <input class="form-control" type="email" name="email" id="email" #emailId="ngModel" type="text"
                    id="emailId" [(ngModel)]=email name="emailId" placeholder="abc@xyz.."
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                <div *ngIf="(f.submitted && emailId.invalid) || (emailId.dirty || emailId.touched)">
                    <div *ngIf="emailId.errors?.required" class="alert alert-danger"> Email is required. </div>
                    <div *ngIf="emailId.errors?.pattern" class="alert alert-danger"> Email is invalid. </div>
                </div>
                <input type="submit" name="submit" value="Submit" [disabled]="!f.valid">
            </form>
        </div>
    </div>

</body>

</html>